<div class="lex-column">
    <div class="p-float-label margin-top">
        <input id="email" type="text" pInputText [(ngModel)]="login.email" />
        <label htmlFor="email">Email</label>
    </div>
    <div class="p-float-label margin-top">
        <input id="password" *ngIf="!showPass" type="password" pInputText [(ngModel)]="login.password" />
        <input id="password" *ngIf="showPass" type="text" pInputText [(ngModel)]="login.password" />
        <label htmlFor="password">Password</label>
        <i *ngIf="!showPass" class="pi pi-eye" (click)="showPassword()"></i>
        <i *ngIf="showPass" class="pi pi-eye-slash" (click)="showPassword()"></i>
    </div>
    <p class="error" *ngIf="showMessage">Las credenciales son necesarias para proceder con el logueo.</p>
    <p-button label="Login" (onClick)="log()"></p-button>
</div>